body
{
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}

.advh
{
    margin-top: 100px;
    background: url('https://i.imgur.com/vawglw5.jpg');
    height: 500px;
    background-size: cover;
    color: black;
    animation: bloom 250s linear infinite running;
}
@keyframes bloom
{
    0% {background-position: 9134px 0;}
    100% {background-position 0 0;}
}
.code
{
    position: absolute;
    width: 9%;
    height: 9%;
    cursor: pointer;
    top: 7%;
    left: 7%;
}
.input
{
    visibility: hidden;
    position: fixed;
    width: 20%;
    top: 20%;
    left: 40%;
    background: black;
    opacity: 0;
    transition: opacity 500ms;
}
#code
{
    padding: 8px 6px;
    width: 80%;
    margin: 10px 0 0 10px;
    border: 2px solid black;
}
.cancel
{
    padding: 12px 7px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background: white;
}
#submit
{
    padding: 12px 7px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    background: green;
    cursor: pointer;
    width: 50%;
}
.buttons
{
    margin: 30px 0 0 0;
}
.visib
{
    visibility: visible;
    opacity: 0.8;
}