<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{%static 'bebakas\index.css'%}">
    Content-Disposition: attachment; filename=manual.pdf
    <meta charset="UTF-8">
    <title>:)</title>
</head>
<body>
<div class="bebakas">
    <img src="https://i.imgur.com/6TCzwEy.png">
    <a href="/bproject/whoisthat/"><div class="heart"></div></a>
</div>

<audio autoplay loop>
    <source src="{% static 'C:\Users\Plom\Desktop\bubble\bebakas\static\rain.mp3' %}">
</audio>
</body>
</html>