<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'bebakas\slide1.css'%}">
    <title>Haba Baba</title>
</head>
<body>
<div class="center">
    <img src="{% static 'C:\Users\Plom\Desktop\bubble\bebakas\static\plant.jpg' %}">
    <span class="below">This one's easy</span>
</div>
<iframe width="1" height="1" style="display: none;"
src="https://www.youtube.com/embed/W_eMOH-DoDM?autoplay=1">
</iframe>
</body>
</html>