<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'bebakas\slide6.css'%}">
    <title>Tsa!</title>
</head>
<body>
<div class="center">
    <img src="{% static 'C:\Users\Plom\Desktop\bubble\bebakas\static\smile.jpg' %}">
    <div class="code" onclick="appear()"></div>

</div>
<div style=" margin: 500px 200px 500px 0;">>:[ </div>

<div class="input" id="input">
    <form action="\bproject\code6\" method="post">
        {% csrf_token %}
        <input type="text" id="code" name="code" placeholder="Not chocolate">
        <div class="buttons">
            <input type="submit" id="submit">
            <span class="cancel" onclick="disappear()">Cancel</span>
        </div>
    </form>
</div>
<!-- What you always wanted-->
<script>
    function appear()
    {
        document.getElementById('input').classList.add("visib");
    }
    function disappear()
    {
        document.getElementById('input').classList.remove("visib");
    }
</script>
</body>
</html>